<ul class="header-inner clearfix">
    <li class="logo">
        <a>PoE</a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">
            <li id="top-search">
                <a href="" data-ng-click="hctrl.openSearch()"><i class="tm-icon zmdi zmdi-search"></i></a>
            </li>
            <li>
                <a href=""><i class="tm-icon zmdi zmdi-refresh-sync"></i></a>
            </li>
        </ul>
    </li>
</ul>

<!-- Top Search Content -->
<div id="top-search-wrap">
    <div class="tsw-inner">
        <i id="top-search-close" class="zmdi zmdi-arrow-left" data-ng-click="hctrl.closeSearch()"></i>
        <input type="text">
    </div>
</div>
