<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include src="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">

      

   <section id="content" class="page-view">
    <div class="container">

      <div class="card" id="profile-main" data-ng-controller="profileCtrl as pctrl">
          <div class="pm-overview c-overflow">
              <div class="pmo-pic">
                  <div class="p-relative">
                      <a href="">
                          <img class="img-responsive" src="img/profile-pics/paul.jpg" alt="">
                      </a>
                  </div>
   
                  <div class="pmo-stat">
                      <h2 class="m-0 c-white">1</h2>
                      Total Claims
                  </div>
              </div>
              <!-- <div class="pmo-block pmo-contact hidden-xs">
                <h2>Network</h2>

                <ul>
                    <li><i class="zmdi zmdi-account"></i> Paul </li>
                    <li><i class="zmdi zmdi-link"></i> 0x627306090abab3a6e1400e9345bc60c78a8bef57 </li>
                    <li><i class="zmdi zmdi-twitter"></i> @phzietsman </li>
                    <li><i class="zmdi zmdi-evernote"></i> @phzietsman@mastodon.social </li>
                    
                    <li><i class="zmdi zmdi-codepen"></i> https://ipfs.infura.io/ipfs/{{ipfs_bio}}</li>
                </ul>
            </div> -->
          </div>
  
          <div class="pm-body clearfix">
              <ul class="tab-nav tn-justified" data-ng-include="'template/profile-menu.html'"></ul>
              <data ui-view></data>
          </div>
      </div>
  </div>
  
   </section>
</section>

<footer id="footer" data-ng-include src="'template/footer.html'"></footer>



