<div class="pmb-block">
    <div class="pmbb-header">
        <h2>
            <i class="zmdi zmdi-person m-r-5"></i> Basic Information</h2>

        <ul class="actions" data-ng-if="profileCtrl.editInfo === 0">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <!-- <a data-ng-click="profileCtrl.editInfo = 1" href="">Edit</a> -->
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="pmbb-body p-l-30">

        <div class="pmbb-view" data-ng-if="profileCtrl.editInfo === 0">

            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>{{profileCtrl.me.name}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Twitter</dt>
                <dd>{{profileCtrl.me.twitter}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Mastodon</dt>
                <dd>{{profileCtrl.me.mastodon}}</dd>
            </dl>

            <dl class="dl-horizontal">
                    <dt>Ipfs Link</dt>
                    <dd><a href="https://ipfs.infura.io/ipfs/{{profileCtrl.me.bioIpfs}}">{{mactrl.shortenIpfs(profileCtrl.me.bioIpfs)}}</a></dd>
                </dl>

            <div class="dl-horizontal">
                <dt>Summary</dt>
                <dd>{{ profileCtrl.profileSummary }}
                    <br>
                </dd>
            </div>
        </div>

        <form data-ng-submit="profileCtrl.submit('profileInfo', 'Profile Information')" class="pmbb-edit" data-ng-if="profileCtrl.editInfo === 1">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Name</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="profileCtrl.fullName" type="text" class="form-control" value="{{ profileCtrl.fullName }}" placeholder="eg. Mallinda Hollaway">
                    </div>

                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Twitter</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="profileCtrl.fullName" type="text" class="form-control" value="{{ profileCtrl.fullName }}" placeholder="eg. Mallinda Hollaway">
                    </div>
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt class="p-t-10">Mastodon</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="profileCtrl.fullName" type="text" class="form-control" value="{{ profileCtrl.fullName }}" placeholder="eg. Mallinda Hollaway">
                    </div>
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt class="p-t-10">Image</dt>
                <dd>
                    <div class="form-group">
                        <div class="col-sm-10 fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                            <div>
                                <span class="btn btn-info btn-file">
                                    <span class="fileinput-new">Select image</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="..." select-ng-files ng-model="accessCtrl.image" accept="image/*">
                                </span>
                                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt class="p-t-10">Mastodon</dt>
                <dd>
                    <div class="fg-line">
                        <textarea data-ng-model="pctrl.profileSummary" class="form-control" rows="5" placeholder="Summary...">Sed eu est vulputate, fringilla ligula ac, maximus arcu. Donec sed felis vel magna mattis ornare ut non turpis. Sed id arcu elit. Sed nec sagittis tortor. Mauris ante urna, ornare sit amet mollis eu, aliquet ac ligula. Nullam dolor metus, suscipit ac imperdiet nec, consectetur sed ex. Sed cursus porttitor leo.</textarea>
                    </div>
                </dd>
            </dl>



            <div class="m-t-30">
                <button class="btn btn-primary btn-sm" type="submit">Save</button>
                <button class="btn btn-link btn-sm" data-ng-click="pctrl.editInfo = 0">Cancel</button>
            </div>
        </form>

    </div>
</div>