<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include src="'template/header_trimmed.html'"></header>

<section id="main">
  <section id="content" class="page-view">



    <div class="container">
      <div class="card">

        <form class="form-horizontal" role="form">
          <div class="card-header">
            <h2>Signup
              <small>
                To use Proof-O-Existence first signup.
              </small>
            </h2>
          </div>

          <div class="card-body card-padding">
              <div class="form-group">
                  <label class="col-sm-2 control-label">Address</label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <input type="text" disabled="true" class="form-control input-sm" placeholder="coinbase">
                    </div>
                  </div>
                </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <div class="fg-line">
                  <input type="text" class="form-control input-sm" placeholder="Name">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">IPFS link</label>
              <div class="col-sm-10">

                <div class="fg-line">
                  <input type="text" class="form-control input-sm" placeholder="0x00....">
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary btn-m">Sign in</button>
              </div>
            </div>
          
          </div>
        </form>
      </div>

    </div>

  </section>
</section>


<footer id="footer" data-ng-include src="'template/footer.html'"></footer>